<div *ngIf="documentProperties==true"  class='full-height-width' style="text-align: center">
  <div class="spinner-placeholder" >
      <span class="spinner-has-text">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><br/>
      <span class="spinner-text">Loading Document Details...</span>
      </span>
  </div>
  </div>

<div style="padding:10px" *ngIf="docData">
  <div style="text-align: center" *ngIf="!folderSelected">{{getDocPropertiesValue()}}</div>
  <div class="ui-g" *ngIf="docData.docUpdateDate">
    <div class="ui-g-6">Date Document Updated</div>
    <div class="ui-g-6">{{docData.docUpdateDate}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.fecilityName">
    <div class="ui-g-6">Facility Name</div>
    <div class="ui-g-6">{{docData.fecilityName}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.docDate">
    <div class="ui-g-6">Document Date</div>
    <div class="ui-g-6">{{docData.docDate}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.fid">
    <div class="ui-g-6">FID</div>
    <div class="ui-g-6">{{docData.fid}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.stateProgram">
    <div class="ui-g-6">State Program</div>
    <div class="ui-g-6">{{docData.stateProgram}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.active">
    <div class="ui-g-6">Is Active</div>
    <div class="ui-g-6">{{docData.active}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.docTypes">
    <div class="ui-g-6">Document Type</div>
    <div class="ui-g-6">{{docData.docTypes}}</div>
  </div>
  <div class="ui-g" *ngIf="docData.scopeOfWork">
    <div class="ui-g-6">Scope of Work</div>
    <div class="ui-g-6">{{docData.scopeOfWork}}</div>
  </div>

</div>