<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="connection.url">jdbc:mysql://localhost/golarsdatabase
  </property>
  <property name="connection.username">golars</property>
  <property name="connection.password">golars</property>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
  <mapping resource="com/golars/config/User.hbm.xml" />
    <mapping resource="com/golars/config/document.hbm.xml" />
     <mapping resource="com/golars/config/Folder.hbm.xml" />
      <mapping resource="com/golars/config/userSettings.hbm.xml" />
 </session-factory>
</hibernate-configuration> 