.full-height-width{
    height: 100%;
    width: 100%;
}
.nav-background-color{
     background-color: #89DF93 !important; 
}
.nav-link.disabled{
    color:darkgray !important;
}
.nav-link{
    color:white !important;
}
.ui-tree{
    height:100% !important;
    width:100% !important;  
}
.center_div{
    background-color: #fff;
    position: relative;
    left: 10%;
    top: 25%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    width: 50%;
}

.company-logo{
    height: 101px;
    width: 201px;
    margin: 10px auto 30px;
 }

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius:4px;
}
.form-control, .input{
    min-height: 40px;
    border-radius:4px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.pull-right{
    float: right;
}
.ui-inputtext{
    height:34px !important;
}

.wrap-text{
    word-wrap: break-word;
}
.ui-widget-content{
    border: 1px solid transparent !important;
}
.full-height-width-tree{
    width: 100%;    
    height: calc( 100% - 60px);
}
.ui-tree .ui-treenode-icon{
    color:#89DF93 !important;
}

.ui-state-highlight{
    background:#89DF93 !important;
}
.ui-table .ui-table-tbody > tr > td{
    border: 1px solid transparent;
}
.nag-bar-icon-color{
    color: #FF8C86 !important;
}
.search-icon-color{
    background: #444C92 !important;
    border: #444C92 !important
}
.fa{
    color:#89DF93;  
} 
.ui-table .ui-table-tbody > tr.ui-state-highlight .fa{
    color: white !important;
}
.btn{
    background: #444C92 !important;
    border: #444C92 !important   
}
.ui-button{
    background: #444C92 !important;
    border: #444C92 !important;
    height:30px !important;   

}
.btn-link{
    color:white !important;
}
.footer-text{
    background-color: #89DF93 !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color:white;
}
.ui-paginator .ui-paginator-page.ui-state-active{
    background-color:#89DF93 !important;
    border-color:#89DF93 !important;
}
.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td{
    background: #d7f0da;
    border-color: #d7f0da;
}
.ui-tabview .ui-tabview-nav > li.ui-state-default{
    background: #d7f0da;
}
.ui-tabview .ui-tabview-nav > li.ui-state-active{
    background: #ffffff !important;
    font-weight: normal;
    color: #555555;
}
.ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover{
    background: #d7f0da;  
}