<h4>Configuration</h4>
<div class="ui-g">
    <div class="ui-g-6">
<div class="alert alert-success" [hidden]='!showSuccessMessage'>
    <strong>Success!</strong> {{successMessage}}
  </div>
  </div>
</div>
<div class="ui-g">

  <div class="ui-g-2"></div>
  <div class="ui-g-4">
    <div>
      <label >Select Option to add Picklist</label>
    </div>
    <p-dropdown [options]="dropdownOptions" [(ngModel)]="dropDownValue" name="dropdownOptions" [style]="{'width':'300px'}" (onChange)="changeTextAreaHeading($event)"></p-dropdown>
  </div>
  <div class="ui-g-4">
      <div>
        <label >Login Page Content URL:</label>
      </div>
      <input type="text"  name="loginContentURL" [(ngModel)]="loginContentURL" class="form-control"/>
     <div class="ui-g-3 pull-right">
          <button type="button" class="btn btn-primary" [ngClass]="{disabled : loginContentURL?.trim().length == 0}"  (click)="saveLoginContentURL()">Save</button>
          <button type="button" class="btn btn-secondary" (click)="loginContentURL=''">Reset</button>
        </div>
    </div>
</div>
<div class="ui-g">

  <div class="ui-g-2"></div>
  <div class="ui-g-4">
    <div>
      <label >{{textAreaTitle}}</label>
    </div>
    <textarea [rows]="10" [cols]="30" [(ngModel)]="pickListValue" style="height:120px !important;width:300px !important;resize: none"
      pInputTextarea placeholder="Enter Values to be added in separate line"></textarea>
  </div>


</div>
<div class="ui-g">
  <div class="ui-g-3">

  </div>
  <div class="ui-g-2 pull-right">
    <button type="button" class="btn btn-primary" [ngClass]="{disabled : pickListValue?.trim().length == 0}" (click)="addToList()">Add</button>
    <button type="button" class="btn btn-secondary" (click)="pickListValue=''">Reset</button>
  </div>
  <div class="ui-g-5"></div>
  <div class="ui-g-2">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Legend</legend>
      <div class="control-group">
        <div>
          Excluded value
        </div>
        <div>
          Included value
        </div>
      </div>
    </fieldset>

  </div>
</div>

<div class="ui-g" *ngIf="dropDownValue=='State Program'">

  <div class="ui-g-2"></div>
  <div class="ui-g-4">
    <div>
      <p-table [columns]="stateProgramCols" [value]="statePrograTableValues">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th width="100px">
              Action
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tableData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td *ngFor="let col of columns">
              <div [ngClass]="tableData[col.field].enable === true ? 'enable-text' : 'disable-text'" (click)="tdClickced(tableData[col.field],$event)"
                [title]="getTableTooltip(tableData[col.field].enable)">{{tableData[col.field].label}}</div>
            </td>
            <td style="text-align: center">
              <i class="fa fa-trash" style="font-size:20px;cursor: pointer;" (click)="deleteRowData(tableData)" title="Delete"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g">
      <div class="ui-g-9"></div>
      <div class="ui-g-3 pull-right">
        <button type="button" class="btn btn-primary"  (click)="saveSateProgramPreferences()">Save</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
      </div>

    </div>
  </div>
</div>



<div *ngIf="dropDownValue=='Document Type'">
  <p-table [columns]="docTypeTableCols" [value]="docTypeTableValues" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th width="200px">StateProgram</th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th width="100px">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tableData let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td *ngIf=" (rowIndex % 10) == 0 " [attr.rowspan]="10" style="vertical-align: top;font-weight: bold;background-color: #CCCCCC">
          Document Type
        </td>
        <td *ngFor="let col of columns">
          <div [ngClass]="tableData[col.field].enable === true ? 'enable-text' : 'disable-text'" (click)="docTypeTdClickced(tableData[col.field],tableData,col.field,$event)"
            [title]="getTableTooltip(tableData[col.field].enable)">{{tableData[col.field].label}}</div>
        </td>
        <td style="text-align: center">
          <i class="fa fa-trash" style="font-size:20px;cursor: pointer;" (click)="deleteRowData(tableData)" title="Delete"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="ui-g">
    <div class="ui-g-11"></div>
    <div class="ui-g-1 pull-right">
      <button type="button" class="btn btn-primary"  (click)="saveSateProgramPreferences()">Save</button>
      <button type="button" class="btn btn-secondary">Cancel</button>
    </div>

  </div>
</div>


<div *ngIf="dropDownValue=='Scope of Work'">
  <p-table [columns]="docTypeTableCols" [value]="scopeOfWorkTableValues" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th width="200px">StateProgram</th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th width="100px">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tableData let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td *ngIf=" (rowIndex % 10) == 0 " [attr.rowspan]="10" style="vertical-align: top;font-weight: bold;background-color: #CCCCCC">
          Document Type
        </td>
        <td *ngFor="let col of columns">
          <div [ngClass]="tableData[col.field].enable === true ? 'enable-text' : 'disable-text'" (click)="docTypeTdClickced(tableData[col.field],tableData,col.field,$event)"
            [title]="getTableTooltip(tableData[col.field].enable)">{{tableData[col.field].label}}</div>
        </td>
        <td style="text-align: center">
          <i class="fa fa-trash" style="font-size:20px;cursor: pointer;" (click)="deleteRowData(tableData)" title="Delete"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="ui-g">
    <div class="ui-g-11"></div>
    <div class="ui-g-1 pull-right">
      <button type="button" class="btn btn-primary" (click)="saveSateProgramPreferences()">Save</button>
      <button type="button" class="btn btn-secondary">Cancel</button>
    </div>

  </div>
</div>