<div *ngIf="treeLoadingProgress==true" class='full-height-width' style="text-align: center">
    <div class="spinner-placeholder">
        <span class="spinner-has-text">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <br/>
            <span class="spinner-text">Loading Folder Details...</span>
        </span>
    </div>
</div>

<div *ngIf="folderDetailstreeLoading==false" class='full-height-width'>
    <h4>Document List</h4>
    <p-table [columns]="cols" [value]="folderData" selectionMode="single" [(selection)]="selectedDocumet" dataKey="id" (onRowSelect)="nodeSelect($event)"
     (onRowUnselect)="nodeSelect($event)" (sortFunction)="customSort($event)"  [customSort]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th width="100px" [pSortableColumn]="'label'">
                    Name
                    <p-sortIcon [field]="'label'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th *ngFor="let col of columns" width="100px" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th width="50px" *ngIf="commonService.isAdmin()">
                        Action
                    </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" >
                <td width="100px" >
                    <span *ngIf="rowData['folder']==true"><i class="fa fa-folder"   style="padding-right: 10px" ></i>{{rowData['label']}}</span>
                    <span *ngIf="rowData['folder']==false" >{{rowData['label']}}</span>
                </td>
                <td *ngFor="let col of columns" width="100px" >
                    <span *ngIf="rowData['folder']==false">
                        {{rowData.properties[col.field]}}
                    </span>
                </td>
                <td *ngIf="commonService.isAdmin()">
                        <i class="fa fa-trash" style="font-size:24px;cursor: pointer;" (click)="deleteFolderOrDocument()" title="Delete Document"></i>
                    </td>
                <!-- <td *ngFor="let col of columns">
                                {{rowData.properties[col.field]}}
                            </td> -->

            </tr>
        </ng-template>
    </p-table>
    
</div>
<div class="modal" id="middle_pane_folder_delete_model" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5  class="modal-title">Delete folder / document : {{selectedNode?.label}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p >Are you sure you want to delete this folder / document?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="deleteDocument()">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>