<div class="alert alert-success" [hidden]='!showSuccessMessage || showFileSelectErrorMessage' >
  <strong>Success!</strong> {{successMessage}}
</div>
<div [hidden]='!showFileSelectErrorMessage' class="alert alert-danger" role="alert">
    {{fileSelectErrorMessage}}
  </div>
<form name="importForm" class="form-group" #importForm>
  <p-fileUpload name="myfile[]" #fileInput multiple="multiple" files="listofFiles[]" customUpload="true" (onSelect)="onBasicUpload($event)"
    [showUploadButton]="false"  [style]="{'max-height':'300px','overflow':'auto','padding':'6px'}" previewWidth="20"
    invalidFileTypeMessageDetail="Invalid file format"></p-fileUpload>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <label>Date Document Updated</label>
      <p-calendar [(ngModel)]="model.docUpdateDate" name="docUpdateDate"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6">

      <label>Facility Name </label>
      <input id="fecilityName" type="text" class="form-control form-control-height" pInputText [(ngModel)]="model.fecilityName" name="fecilityName"
      />
    </div>
    <div class="ui-g-12 ui-md-6">
      <label>Document Date</label>
      <p-calendar [(ngModel)]="model.docDate" name="docDate"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6">
      <label>FID</label>
      <input id="fid" type="text" class="form-control form-control-height" pInputText [(ngModel)]="model.fid" name="fid" />
    </div>
    <div class="ui-g-12 ui-md-6">
        <label>City</label>
        <input id="city" type="text" class="form-control form-control-height" pInputText [(ngModel)]="model.city" name="city" />
      </div>
      <div class="ui-g-12 ui-md-6">
        <label>State</label>
        <input id="fid" type="text" class="form-control form-control-height" pInputText [(ngModel)]="model.state" name="state" maxlength="30" />
      </div>
    <div class="ui-g-12 ui-md-6">
      <div>
        <label>State Program</label>
      </div>
      <p-dropdown [options]="stateProgram" [(ngModel)]="model.stateProgram" name="model.stateProgram" placeholder="Select State Program"  [style]="{'width':'200px'}" (onChange)="getStateProgramAndScopeOfWorkDropDOwn($event)"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-6">
      <div>
        <label>&nbsp;</label>
      </div>
      <p-checkbox name="group1" binary="true" #activeCheckbox label="Is Active" [(ngModel)]="model.active"></p-checkbox>
    </div>
    <div class="ui-g-12 ui-md-6">
      <div>
        <label>Document Type</label>
      </div>
      <p-dropdown [options]="docTypes" [(ngModel)]="model.docTypes" name="docTypes" placeholder="Select Document Type"  [style]="{'width':'275px'}"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-6">
      <div>
        <label>Scope of Work</label>
      </div>
      <p-multiSelect [options]="scopeOfWork" defaultLabel="Select Scope of Work" [(ngModel)]="model.scopeOfWork" name="scopeOfWork" resetFilterOnHide="true"  [style]="{'width':'350px','min-height':'30px'}"></p-multiSelect>
    </div>
  </div>
  <div class="pull-right" style="margin-top:20px">
    <button type="button" class="btn btn-primary" (click)="importDocuments()">Import</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
  
</form>
