
<div class="col-md-6 col-md-offset-3">
    <div class="company-logo"> <a href="#"><img src="assets/images/golars.jpg" alt=""> </a></div> 
    <h2>Change Password</h2>
    <div class="alert alert-success" [hidden]='!showSuccessMessage'>
        <strong>Success!</strong> Password changed succesfully. Click here to <a href='#/login'>login</a>
    </div>

  <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !currentPassword.valid }">
        <label for="currentPassword">Current Password</label>
        <input type="password" [ngClass]="{ 'is-invalid': f.submitted && !currentPassword.valid }" class="form-control" name="currentPassword" [(ngModel)]="model.currentPassword"
            #currentPassword="ngModel" required maxlength="50"/>
        <div *ngIf="f.submitted && !currentPassword.valid" class="help-block text-danger">
            <span *ngIf="currentPassword.errors?.required">Current Password is required</span>
          </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !newPassword.valid }" name="newPassword" [(ngModel)]="model.newPassword"
            #newPassword="ngModel" required maxlength="50"/>
        <div *ngIf="f.submitted && !newPassword.valid" class="help-block text-danger">
            <span *ngIf="newPassword.errors?.required">New Password is required</span>
            </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" [ngClass]="{ 'is-invalid': f.submitted && !confirmPassword.valid }" [(ngModel)]="model.confirmPassword"
            #confirmPassword="ngModel" required minlength="5" maxlength="12"/>
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block text-danger">
            <span *ngIf="confirmPassword.errors?.required"> Confirm Password is required</span>
            <span *ngIf="confirmPassword.errors?.mismatch">New Password and Confirm Password doesn't match</span></div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
        <a  class="btn btn-link"(click)="logout()">Logout</a>
    </div>
</form>
</div>